pkgbase = f34-backgrounds
	pkgdesc = Fedora 34 backgrounds
	pkgver = 34.0.1
	pkgrel = 3
	url = https://github.com/fedoradesign/backgrounds
	arch = any
	license = custom
	source = https://github.com/fedoradesign/backgrounds/releases/download/v34.0.1/f34-backgrounds-34.0.1.tar.xz
	sha256sums = d20a2d810e0dd3213c5996ecbbb0778e650866bc9c6ea8c4331665d3525c263e

pkgname = f34-backgrounds
